header {
    height: 100vh; /* Default for larger screens */
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* SOCIAL MEDIA */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 20rem;
    font-size: xx-large;
}

.header__socials::after {
    content: '';
    width: 0.3rem;
    height: 2rem;
    background: var(--color-white);
}

.me {
    width: 40rem;
    height: 40rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: var(--transition);
    position: absolute;
    left: calc(50% - 20rem);
    margin-top: 2rem;
    overflow: hidden;
}

/* SCROLL DOWN */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 25rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: xx-large;
}

/* Media Queries */

@media screen and (max-width: 1440px) {
    .me {
        width: 23rem;
        height: 23rem;
        left: calc(50% - 11rem);
    }

    .header__socials {
        bottom: 7rem;
    }

    .scroll__down {
        bottom: 10rem;
    }
}

@media screen and (max-width: 1366px) {
    .me {
        width: 30rem;
        height: 30rem;
        left: calc(50% - 15rem);
    }

    .header__socials, .scroll__down, #contact {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    header {
        height: 80vh; /* Reduced height for smaller screens */
    }

    .me {
        width: 30rem;
        height: 30rem;
        left: calc(50% - 15rem);
    }

    .header__socials, .scroll__down, #contact {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 70vh; /* Further reduced height for mobile screens */
    }

    .me {
        width: 20rem;
        height: 20rem;
        left: calc(50% - 10rem);
    }

    .header__socials, .scroll__down, #contact {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    header {
        height: 100vh; /* Further reduced height for extra small devices */
    }

    .me {
        width: 20rem;
        height: 20rem; /* Corrected height */
        left: calc(50% - 10rem);
    }

    .header__socials, .scroll__down, #contact {
        display: none;
    }
}

@media screen and (width: 390px) and (height: 844px) {
    header {
        height: 70vh; /* Adjusted height for specific device dimensions */
    }

    .me {
        width: 18rem;
        height: 18rem; /* Adjusted size */
        left: calc(50% - 9rem);
    }

    .header__socials, .scroll__down, #contact {
        display: none;
    }
}

@media screen and (min-width: 900px) and (max-height: 1400px) {
    header {
        height: 70vh; /* Adjusted height for specific device dimensions */
    }

    .me {
        width: 40rem;
        height: 40rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        transform: rotate(0deg);
        transition: var(--transition);
        position: absolute;
        left: calc(50% - 20rem);
        margin-top: 2rem;
        overflow: hidden;
    }

    .header__socials {
        bottom: 7rem;
    }

    .scroll__down {
        bottom: 10rem;
    }
}

@media screen and (width: 540px) and (max-height: 720px) {
    header {
        height: 90vh; /* Adjusted height for specific device dimensions */
    }
}

@media screen and (width: 1366px) and (max-height: 768px) {
    header {
        height: 100vh; /* Adjusted height for specific device dimensions */
    }

    .me {
        width: 30rem;
        height: 30rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        transition: var(--transition);
        position: absolute;
        left: 50%;
        top: 50%;
        overflow: hidden;
        margin-top: 5rem;
    }

    .header__socials {
        bottom: 7rem;
    }

    .scroll__down {
        bottom: 10rem;
    }
}

@media screen and (width: 1920px) and (max-height: 1080px) {
    header {
        height: 100vh; /* Adjusted height for specific device dimensions */
    }

    .me {
        width: 40rem;
        height: 40rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        transform: rotate(0deg);
        transition: var(--transition);
        position: absolute;
        left: calc(50% - 20rem);
        margin-top: 2rem;
        overflow: hidden;
    }

    .header__socials {
        bottom: 7rem;
    }

    .scroll__down {
        bottom: 10rem;
    }
}
